/* src/assets/global.css */

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

button {
  background-color: #28a745;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transform: translateY(2px);
}
button:hover {
  opacity: 0.8;
  background-color: gray;
}

table {
  width: 95%;
  min-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
  font-size: 14px;
}
table thead th {
  background-color: #4B5C6B;
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
table tbody tr:nth-child(even) { background-color: #fafafa; }
table tbody tr:hover           { background-color: #f5faff; }
table tbody td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;  
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}
.main > div {
  display: block;
}
.main > div.active {
  display: block;
}

#sidebarButton.hidden {
  background: url("/ShiftX_Logo_icon.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
}

#sidebarButton.hidden .bar1,
#sidebarButton.hidden .bar2,
#sidebarButton.hidden .bar3 {
  display: none;
}